<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mason.doug.weather"
    android:installLocation="auto"
    android:versionCode="4"
    android:versionName="2.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false" >
        <receiver android:name="com.mason.doug.weather.WeatherBroadcastReceiver" android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.mason.doug.weather.ACTIVITY_BROADCAST" android:enabled="true" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mason.doug.weather.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity android:name="com.mason.doug.weather.WeatherDetailActivity"/>
        <activity android:name="com.mason.doug.weather.WeatherActivity" android:label="DWeather">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name="com.mason.doug.weather.WeatherProvider" android:authorities="@string/providerAuthority" android:exported="false" />
        <service android:name="com.mason.doug.weather.WeatherFetchService" android:exported="false"/>
    </application>

</manifest>